  <footer class="main-footer">
	About
    <div class="pull-right text-xs-center">
      Copyright &copy; 2017 <a href="{{ site.url }}">{{ site.name }}</a>. All rights reserved.
    </div>
  </footer>
</div>

<script src="//{{ site.cdn }}/js/jquery.js"></script>
<script src="//{{ site.cdn }}/js/popper.min.js"></script>
<script src="//{{ site.cdn }}/js/bootstrap.min.js"></script>
<noscript>
	<div class="script-warning">JavaScript is required for this website. Please turn it on in your browser and reload the page.</div>
</noscript>