<footer class="main-footer">
	<div class="footer-widget container">
		<div class="row">
			<div class="col-sm">
			One of three columns
			</div>
			<div class="col-sm">
			One of three columns
			</div>
			<div class="col-sm">
			One of three columns
			</div>
		</div>
	</div>
	<div class="footer-bottom clearfix">
		<div class="float-right"><a href="/privacy/">Privacy Policy</a> | <a href="/terms/">Terms of Use</a></div>
		<div class="float-left">Copyright &copy; 2017 <a href="https://amihub.com">Amihub</a>. All rights reserved.</div>
	</div>
</footer>