  <footer class="main-footer">
	About
    <div class="pull-right text-xs-center">
      Copyright &copy; {{ 'now' | date: "%Y" }} <a href="{{ site.url }}">{{ site.name }}</a>. All rights reserved.
    </div>
  </footer>
</div>
<noscript id="deferred-styles">
  <link rel="stylesheet" href="//{{ site.cdn }}/css/bootstrap.min.css">
</noscript>
<script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() {
        window.setTimeout(loadDeferredStyles, 0);
    });
    else window.addEventListener('load', loadDeferredStyles);
</script>
<script src="//{{ site.cdn }}/js/jquery.js"></script>
<script src="//{{ site.cdn }}/js/popper.min.js"></script>
<script src="//{{ site.cdn }}/js/bootstrap.min.js"></script>
