<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% include seo.html %}
	<link rel="dns-prefetch" href="https://{{ site.cdn }}/">
	<link rel="stylesheet" href="//{{ site.cdn }}/css/bootstrap.min.css">
	<link rel="shortcut icon" href="favicon.ico">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>