<header class="main-header">
	<div class="header-content m-1 clearfix">
		<div class="float-left logo m-3">
			<h1><a title="Amihub" href="{{site.url}}"><img src="{{site.cdn}}/img/logo.png" alt="Sahifa" width="175" height="44" /><strong>Internet Marketing, Web Developer & Online Business Tutorial</strong></a>
			</h1>
		</div>
		<div class="float-right">
			<a href="#" target="_blank" title=""><img src="{{site.cdn}}/img/do728.png" alt="Buy Sahifa Theme Now" /></a>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg main-nav py-1">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navmenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				{% assign categories_list = site.categories %}
				{% if categories_list.first[0] == null %}
				{% for category in categories_list %}
				<li class="nav-item"><a class="nav-link" href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
				{% endfor %}
				{% else %}
				{% for category in categories_list %}
				<li><a href="#{{ tag[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
				{% endfor %}
				{% endif %}
				{% assign categories_list = nil %}
			</ul>
		</div>
	</nav>			
</header>