<header class="main-header">
	<div class="header-content m-1 clearfix">
		<div class="float-left logo m-3">
			<h1><a title="Sahifa" href="/"><img src="{{site.url}}/img/logo.png" alt="Sahifa" width="175" height="44" /><strong>Sahifa Blog Magazine Newspaper Theme</strong></a>
			</h1>
		</div>
		<div class="float-right">
			<a href="#" target="_blank" title=""><img src="https://cdn.vilog.me/images/do728.png" alt="Buy Sahifa Theme Now" /></a>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg main-nav py-1">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navmenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			</ul>
		</div>
	</nav>			
</header>